#root{
    max-width: 576px;
}

#app {
    min-height: 100vh;
}

/*** Header ***/
#app-header .actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#app-header h1{
    text-align: center;
}

/*** Toolbar ***/
.toolbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    flex-grow: 2;
}

/*** Buttons ***/
button:hover, button[type=submit]:hover {
    background-color: var(--pico-primary-focus);
    color: var(--pico-primary);
    font-weight: 500;
}

/*** Interactive Icons ***/
a.icon, button.icon {
    background: none;
    border: none;
    color: var(--pico-primary);

    padding: 0.5rem;
    border-radius: var(--pico-border-radius);
}

a.icon i, button.icon i {
    font-size: 1.25rem;
}

a.icon:hover, button.icon:hover {
    background-color: var(--pico-primary-background);
    color: var(--pico-primary-inverse);
}

/************* Layouts *****************/

/* Lists */
ul{
    padding: 1rem;
    list-style: none;
}

ul.table{
    display: table;
    width: fit-content;
    max-width: 100%;
}

ul.table li{
    display: table-row;
}

ul.table span{
    display: table-cell;
    padding: 0.25em 1em;
}

/***** Contacts List *****/
#contactList{
    width: 100%;
}

#contactList a {
    display: table-cell;
    width: 100%;
    padding: 0.5rem;
    border-bottom: 1px solid var(--pico-form-element-border-color);
    text-decoration: none;
    border-radius: var(--pico-border-radius);
    --pico-color: var(--pico-color);
}

#contactList a:hover {
    background-color: var(--pico-primary-background);
    color: var(--pico-primary-inverse);
}

/***** Contact Details *****/

/* Field heading */
#contactDetails span:first-child{
    font-weight: 600;
}

/******* Forms *******/

/* Fluid field set. Float and wrap input elements */
form fieldset{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

    padding: 0.5rem;
    border: 1px solid var(--pico-form-element-border-color);
    border-radius: var(--pico-border-radius);
}

form legend{
    text-align: center;
    padding: 0 1rem;
}

form label, form legend{
    font-weight: 600;
}

/* Floating form elements */
div.floating {
    width:fit-content;
    margin-right: 1rem;
}

/* Required fields */
form span.required {
    color:firebrick;
    font-weight: 700;
}

p.required{
    font-size: smaller;
}