#root{
    max-width: 576px;
}

/* Header */
#app-header .actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#app-header h1{
    text-align: center;
}

/* Toolbar */
.toolbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    flex-grow: 2;
}

/*** Interactive Icons ***/
a.icon, button.icon {
    padding: 0;
    margin: 0.5rem;
    background: none;
    border: none;
    color: var(--pico-primary);
}

a.icon i, button.icon i {
    font-size: 1.25rem;
}

/************* Layouts *****************/

/* Lists */
ul{
    padding: 1rem;
    list-style: none;
}

ul.table{
    display: table;
    width: fit-content;
    max-width: 100%;
}

ul.table li{
    display: table-row;
}

ul.table span{
    display: table-cell;
    padding: 0.25em 1em;
    border-bottom: 1px solid var(--pico-form-element-border-color);
}

/***** Contacts List *****/
#contactList{
    width: 100%;
}

#contactList a {
    display: table-cell;
    width: 100%;
    padding: 0.5rem;
    border-bottom: 1px solid var(--pico-form-element-border-color);
    text-decoration: none;
}

/***** Contact Details *****/

/* Field heading */
#contactDetails span:first-child{
    font-weight: 600;
}

/******* Forms *******/
form select {
    width:fit-content;
}

form fieldset{
    padding: 0.5rem;
    border: 1px solid var(--pico-form-element-border-color);
    border-radius: var(--pico-border-radius);
}

form label, form legend{
    font-weight: 600;
}

form legend{
    text-align: center;
    padding: 0 1rem;
}

form span.required {
    color:firebrick;
    font-weight: 700;
}

p.required{
    font-size: 0.5em;
}